*{
    margin: 0;
    padding: 0;
}
.header{
    height: 80px;
    width: 100%;
    display: inline-block;
    background-color: rgba(17, 11, 14, 0.84);
    position: fixed;
    overflow: hidden;
}
header ul{
    float: right;
    margin-right: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
header li{
    display: inline-block;
    margin: 0.8px;
    line-height: 80px;
}
 .nav li a{
     font-size: 18px;
     color: white;
     text-transform: uppercase;
     text-decoration: none;
     border: 1px solid transparent;
     padding: 7px 15px;
     border-radius: 3px;
}
li a.active,li a:hover{
    border: 1px solid white;
    color: #ffa012;
    transition: ease 0.5s;
}
.logo {
    padding:10px 60px;
    width: 200px;
}
header #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width:1048px){
    img.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    header ul{
        margin-right: 20px;
    }
    header a{
        font-size: 17px;
    }
}
@media (max-width:909px){
    header #icon{
        display: block;
    }
    img.logo{
        font-size: 16;
        padding-left: 30px;
    }
    header ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2f3640;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    header li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    header a{
        font-size: 20px;
    }
    li a.active,li a:hover{
        border: none;
        color: #3498db;
    }
    header ul.show{
        left: 0;
    }
    .header{
        position: absolute;
        overflow: hidden;
    }
}

/* home page */

.home_page{
    background: no-repeat center center;
    background-size: cover;
}

#heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
   
   
    

}
.head1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(243, 239, 239);
    letter-spacing: 5px;
    position: relative;
    left: 10px;
    filter: drop-shadow(0.02em 0.02em orange) contrast(5);
    
}
.head2{
    font-family: 'Great Vibes', cursive;
    color: white;
    filter: drop-shadow(0.02em 0.02em orange) contrast(9);
    position: relative;
    right: 0px;
    padding: 30px 0;
    font-size: 120px;
}
.head3{
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-size: 12px;

}
.head4{
    color: white;
    filter: drop-shadow(0.05em 0.05em orange) contrast(9);
   
    font-size: 20px;
    font-family: 'PT Serif', serif;
    letter-spacing: 5px;
    text-align: center;
    padding: 30px 400px;
}
p{
    display: inline-block;
    padding: 10px 10px;
}
p::first-letter{
    font-size: 30px;
}
.fa-solid {
    font-size: 15px;
    letter-spacing: 5px;
}
.fa-house{
    color: cornflowerblue;
}
.fa-heart{
    color: red;
    letter-spacing: 15px;
}

/* about page */
.about_us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 70vh;
    padding: 30PX 250PX;
    text-align: left;
    color: grey;
    background-color: rgba(f, f, f, 0.5);
    font-family: 'Montserrat', sans-serif;
}
h1{
    padding: 20px 0;
}
.about_us h1{
    color: rgb(165, 111, 65);
    filter: contrast(3);
}
.text{
    line-height: 1.5em;
    font-size: 19px;
    filter: drop-shadow(0.03em 0.03em skyblue);
}

@media(max-width:1300px){
    .about_us{
        padding: 20px 200px;
    }
    .text{
        font-size: 17px;
    }
}
@media(max-width:1000px){
    .about_us{
        padding: 20px 150px;
    }
    .text{
        font-size: 16px;
    }
    h1{
        font-size: 28px;
    }
}
@media(max-width:800px){
    .about_us{
        padding: 15px 80px;
    }
    .text{
        font-size: 14px;
    }
    h1{
        font-size: 25px;
    }
}
@media(max-width:668px){
    .about_us{
        padding: 15px 50px;
        text-align: center;
    }
    .text{
        font-size: 13px;
    }
    h1{
        font-size: 22px;
    }
}


/* about page end */

/* Menu_page */

#Menu{
background-color: whitesmoke;
min-height: 80vh;
padding: 40px 0px;
}
h2{
    font-family: 'Satisfy', cursive;
    font-size: 35px;
    text-align: center;
    color: #444444;
}
h2 span{
    color: #ffb03b;
}
.Menu_card{
    display: grid;
    grid-template-columns: 1fr 1fr;
   justify-content: space-around;
}
h3{
    font-family: 'Share', cursive;
    text-align: center;
    font-size: 23px;
    padding: 20px 0;
}
.staters , .rice_bread , .main_course , .drink_deserts{
    display: flex;
    justify-content: space-between;
    padding: 5px 80px;
    font-family: 'Poppins', sans-serif;
    word-spacing: 3px;
    text-align: left;
    color: #fd7e14;
    
}
.staters div, .rice_bread div, .main_course div, .drink_deserts div{
color: #444444;
}
.staters:hover,.rice_bread:hover, .main_course:hover , .drink_deserts:hover{
    border: 2px solid #fd7e14;
    border-radius: 10px;
    color: rebeccapurple;
}

@media(max-width:668px){
    #Menu{
        padding: 40px 0px;
    }
    .Menu_card{
        display: flex;
        flex-direction: column;
    }
    .staters , .rice_bread , .main_course , .drink_deserts{
        padding: 5px 40px;
    }
}


/* Menu_page end */

/* gallery_page */
#gallery{
padding-bottom: 40px;
}
.section_title{
    text-align: center;
    padding: 40px 0;
}
.section_title p{
    font-family: 'Poppins', sans-serif;
    color: #444444;
    font-weight: 300;
    padding: 0px 360px;
    font-size: 18px;
}
.gallery_box{
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-auto-rows: 300px;
    gap: 5px;
    padding: 10px;
    overflow: hidden;
    border: 3px solid rebeccapurple;
}
.img_fluid{
    width: 100%;
    height: 100%;
    border: 2px solid orangered;
    transition: transform 0.5s;
}
.img_fluid:hover{
    transform: scale(1.1);
}
@media(max-width:1300px){
    .section_title p{
        padding: 0px 300px;
        font-size: 17px;
    }
}
@media(max-width:1150px){
    .section_title p{
        padding: 0px 250px;
        font-size: 16px;
    }
}
@media(max-width:1024px){
    .gallery_box{
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 200px;
    }
    .section_title p{
        padding: 0px 170px;
        font-size: 15px;
    }
}
@media(max-width:850px){
    .section_title p{
        padding: 0px 120px;
        font-size: 14px;
    }
}
@media(max-width:668px){
    .section_title{
        padding: 30px 0;
    }
    .section_title h2{
        font-size: 25px;
    }
    .gallery_box{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 200px;
    }
    .section_title p{
        padding: 0px 20px;
        font-size: 12px;
    }
}
/* gallery_page end */

/* review_page */

#review{
    margin: 80px 0;
    min-height: 80vh;
}
.review_box{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 80vh;
    color: white;
    
}
#slider figure{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    overflow: hidden;
    padding: 100px 20px;
}
.review_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review_1 img{
    width: 100px;
}
.reviewer_name{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0;
}
.reviewer_job{
    font-family: 'Comic Neue', cursive;
    padding-bottom: 10px;
}
.fa-star{
    color: tomato;
    padding: 15px 0;
}
.fa-quote-left, .fa-quote-right{
    color: gray;
    font-size: 30px;
}
.testinomial{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
@media(max-width:800px){
    #slider figure{
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 400px;
        gap: 60px;
        padding: 50px 20px;
    }
}
@media(max-width:800px){
    #review{
        margin: 40px 0px;
    }
    .review_1{
        padding: 30px 0;
        font-size: 16px;
    }
}


/* review_page end */

/* Contact_us */ 
.contact_title {
    text-align: center;
    font-size: 18px;
    padding: 0px 400px;
}
.form_box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 20px;
    margin: 40px 40px;
}
.form{
padding: 0px 0px;

}
.form_title{
    display: flex;
    box-shadow: 0px 2px 15px rgba(95, 94, 94, 0.1);
    background-color: #f1f3f5;
    

}
form h2{
    font-size: 20px;
    padding-top: 30px;
}
.title_1{
    display: flex;
    padding: 20px 30px;
}
.loco{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #444444;
}
.title_1 span{
    color: #7a7368;
}
.fa-location-dot , .fa-clock{
    font-size: 25px;
    padding: 5px 10px;
    color: #ffb03b;
    
}
.form_body{
    background-color: honeydew;
}
form input , form textarea{
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
}
.name_email{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}
.subject_message{
   display: flex;
   flex-direction: column;
}
.button{
    text-align: center;
    padding: 10px 0;
}
button{
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    background-color: #ffb03b;
    border: 0;
    color: white;
    
}
button:hover{
    background-color: #ffa012;
}
.map{
    text-align: right;
    padding: 10px 10px;
}
.map iframe{
    width: 100%;
    height: 100%;
}

@media(max-width:1300px){
    .contact_title {
        padding: 0 300px;
    }
}
@media(max-width:1100px){
    .contact_title {
        padding: 0 200px;
        font-size: 17px;
    }
}
@media(max-width:900px){
    .contact_title {
        padding: 0 100px;
        font-size: 16px;
    }
}
@media(max-width:668px){
    .title_1{
        padding: 10px 5px;
    }
    .form_box{
        grid-template-columns: repeat(1,1fr);
        margin: 5px;
    }
    .contact_title {
        padding: 0 20px;
        font-size: 16px;
    }
    .contact_title p{
        font-size: 14px;
    }
    .form{
        width: 100%;
        overflow: hidden;
    }
    .name_email{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    
    }
    .loco{
        font-size: 15px;
    }
    .fa-location-dot , .fa-clock{
        font-size: 15px;
        padding: 5px 5px;
        color: #ffb03b;
        
    }
}
/* Contact_us end */

/* footer #35322d*/
.footer{
    background-color: #35322d;
    text-align: center;
    color: #fff;
}
.footer_logo img{
    width: 50px;
    padding-top: 50px;
}
.footer_text{
    padding: 10px 30px;
}
.social_media{
    padding: 30px 0;
}
.social_media a{
    text-decoration: none;
    color: white;
}
.fa-brands{
    padding: 10px 10px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    margin: 0 3px;
    background-color: #46423b;
    transition: .3s ease-in;
}
.fa-brands:hover{
    background-color: #ffa012;
}
.fa-facebook-f{
    padding: 10px 13px;
}
.copyright{
    font-size: 16px;
    padding: 10px;
}
.fa-copyright{
    font-size: 12px;
    padding: 3px;
}
.copyright span{
    font-weight: bold;

}
.developer{
    padding-bottom: 30px;
}
.developer span{
    color: #ffa012;
}
.developer .fa-heart{
    font-size: 16px;
    padding-left: 8px;
    letter-spacing: 5px;
}
@media(max-width:668px){
    .fa-brands{
        padding: 5px 5px;
    }
    .fa-facebook-f{
        padding: 5px 8px;
    }
}



/* footer_end */
@media(max-width:1200px){
    .head4{
        padding: 30px 200px;
    }

}
@media(max-width:800px){
    .head1{
        font-size: 12px;
    }
    .head2{
        font-size: 80px;
        padding: 20px 0;
    }
    .head3{
        font-size: 10px;
    }
    .head4{
        font-size: 15px;
        padding: 30px 20px;
    }
    p::first-letter{
        font-size: 25px;
    }
    .fa-solid {
        font-size: 12px;
        letter-spacing: 5px;
    }
    p{
        padding: 5px 5px;
    }
}
@media(max-width:668px){
    .head2{
        font-size: 70px;
    }
    .head4{
        font-size: 12px;
    }
    p::first-letter{
        font-size: 20px;
    }
}
